body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f8ff;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}


#balance {
    font-size: 4rem;
    color: #333;
    margin: 20px 0;
}


button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-left: 10px;
}

#click {
    background-color: #4caf50; 
    color: white;
}

#click:hover {
    background-color: #45a049;
    transform: scale(1.05); 
}

#upgrade {
    background-color: #2196f3; 
    color: white;
}

#upgrade:hover {
    background-color: #1976d2;
    transform: scale(1.05);
}


#auto {
    background-color: #ff9800; 
    color: white;
}

#auto:hover {
    background-color: #e68900;
    transform: scale(1.05);
}


